body {
  margin: 0;
  font-family: 'Roboto', sans-serif; 
  background-color: #FFFFFF; 
}


header {
  background-color: #0F3452;
  color: white;
}

/* Esta es mi barra de encabezado */
.barrannavy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

/* Esta es Festival del Gato MAO: Grandes Ofertas */
.psin-margen {
  margin: 0;
  font-size: 14px;
}

/* Menu de Navegacion */
.barrazul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #154C79;
}

.logo {
    max-height: 40px; /* Reduce el tamaño del logo */
  }


.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-container button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #45a049;
}

.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
}


/* bANNER PRINCIPAL */

.seccionmain {
  background-color: #FFE184;
  display: flex;
 
  justify-content: space-around;
}

.column-wrapper {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.texto-estilizado {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #EE940D;
    font-weight: thin;
    letter-spacing: 1px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.texto-estilizado-bold {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #EE940D;
  font-weight: bold; /* Cambiado a bold para negrita */
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}



.descuento {
  background-color: #FFE184;
  padding: 20px;
  border-radius: 5px;
  width: 55%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botonver {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0BBEC9;
  color: white;
  border-radius: 5px;
  border-style: none;
  padding: 10px 20px;
  width: fit-content;
}


.botonver a {
    text-decoration: none;
    color: white;
}

.botonver a {
  text-decoration: none;
  color: white;
}


/* DESTACADOS */
.destacados {
  background-color: #FFEDC1;
  text-align: center;
  padding: 20px 0;
}

.prods {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.paw {
  width: 100px;
  height: auto;
}

.pawnav {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.pawnav li {
  display: inline;
  margin: 0 10px;
}

.pawnav a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

/* Estilos generales para el contenedor principal */
.container {
  display: flex;
  justify-content: space-evenly;
}

/* Estilos para cada carta */
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
}

.card-img-top {
  max-width: 150px; 
  height: auto; 
}

.card img {
  max-width: 200px;
  height: 200px;
  border-radius: 8px;
}

.card h3 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Media queries para responsive design */
@media (max-width: 768px) {
  .container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (max-width: 768px) {
  .container, .card, .contenedor {
    padding: 10px; 
  }
}

@media (max-width: 480px) {
  .icono img {
    max-width: 40px; 
  }

  .card-img-top {
    max-width: 100px; 
  }

  .producto-imagen {
    max-width: 80px; 
  }
}


.container, .card, .contenedor {
  max-width: 100%; 
  box-sizing: border-box; 
}



@media (max-width: 480px) {
  .container {
      grid-template-columns: 1fr;
  }
}
.cartas {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.contenedor {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 200px;
  position: relative;
}
.producto-imagen {
  max-width: 100px; /* Ajusta el tamaño de las imágenes del producto */
  height: auto;
}
.producto-galletita {
  width: 188px; 
  height: 188px; 
  border-radius: 10px 10px 0 0; 
  margin-bottom: 10px; 
}

.naranja {
  color: #FFA52E;
  font-size: 18px;
  margin-top: 10px;
}

.fas, .far, .fab {
  font-size: 1.5rem; /* Ajusta el tamaño de los iconos */
}

/* ABOUT US */

.seccion-nosotros {
  background-image: url("../asset/img/aboutus.png"); /* Corrección de la ruta de la imagen */
  background-size: cover;
  background-position: center; /* Para centrar la imagen de fondo */
  height: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Para centrar el contenido verticalmente */
  align-items: center; /* Para centrar el contenido horizontalmente */
}

.nosotros-texto {
  background-color: rgb(24, 31, 85);
  padding: 5px;
  border-radius: 5px;
  width: 30%;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #DC91CC;
}

/* CONTACTANOS */


.contactanos {
  background-color: #154C79;
  color: white;
  text-align: center;
  display: block;
  padding: 20px;
}

.contacto{

  display: block;
}

.contacto-cols{

  display: flex;
  justify-content: space-evenly;
}

.contacto-info{

  display: block;
  text-align: left;
}



.formulario-container {
  display: block;
  align-items: center;
}

.barrasus {
  margin-bottom: 20px;
}

.suscribete {
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 55%;
  margin-bottom: 15px;
}

.botonsus {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botonsus:hover {
  background-color: #45a049;
}

.ubicacion {
  margin-bottom: 20px;
}

.barrasformulario {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width:70%;
}

.botones {
  margin-top: 10px;
}

.enviar,
.resetear {
  background-color: #FFA52E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.enviar:hover,
.resetear:hover {
  background-color: #EE940D;
}

.aviso {
  font-size: 14px;
  margin-top: 10px;
}

/* Estilos para la sección de suscripción (opcional) */
.placeholder {
  height: 200px; /* Placeholder para ajustar espacio para contenido */
}





/*Segunda pagina*/ 
/* Estilos para la sección de categorías */

.cartas2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.producto-categoria {
  width: calc(33.33% - 20px); /* Ajustar el ancho según el número de productos por fila */
}

.contenedor-producto {
  text-align: center;
}

.imagen-producto {
  width: 164px; /* Tamaño de la imagen */
  height: 164px; /* Tamaño de la imagen */
  border-radius: 50%;
}

.precio {
  color: #ff8c00; /* Color naranja para el precio */
}
/* Estilos para la sección de colecciones personalizadas */


.titulo-colecciones {
  font-weight: bold;
  margin-bottom: 10px;
}

.texto-servicio{
  text-align: left;
  color: #0F3452;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.contenedor-coleccion {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.imagen-coleccion {
  width: 240px;
  height: 232px;
  margin-right: 20px;
}

.descripcion-coleccion {
  color: #DC91CC;
  font-weight: bold;
  text-align: left;
}

.linea-separadora {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}
/* Estilos para la sección de consiéntete gato */

.seccion-consiente {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
}

.titulo-consiente {
  font-weight: bold;
  margin-bottom: 10px;
}

.cartas3 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.producto-consiente {
  width: calc(33.33% - 10px);
  box-sizing: border-box;
}

.contenedor-consiente {
  text-align: center;
}

.imagen-consiente {
  width: 128px;
  height: 122px;
  margin-bottom: 10px;
}

.texto-lorem {
  color: #DC91CC;
}

.precio {
  font-weight: bold;
  margin-top: 5px;
}

.linea-separadora {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

/* Estilos para la sección de favoritos del Dr. Apapa */

.seccion-favoritos {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  text-align: center; /* Alineación centrada del contenido */
  position: relative; /* Posición relativa para el scroll-arrow */
  overflow-x: auto; /* Permite el scroll horizontal */
  white-space: nowrap; /* Evita que las cartas se rompan en varias líneas */
}

.titulo-favoritos {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.contenedor-cartas {
  display: flex; /* Flexbox para alinear las cartas */
  gap: 42px; /* Espacio entre las cartas */
  padding-bottom: 10px; /* Espacio inferior entre las cartas */
  justify-content: center; /* Alinear al centro del contenedor */
  overflow-x: auto; /* Permitir scroll horizontal */
 -ms-overflow-style: none; /* IE and Edge */
 scrollbar-width: none; /* Firefox */
}/* no se por que aun asi no se oculta la barra de scroll*/

.cartas-favoritos {
  display: flex; /* Flexbox para alinear las cartas */
  gap: 42px; /* Espacio entre las cartas */
  padding-bottom: 10px; /* Espacio inferior entre las cartas */
  justify-content: flex-start; /* Alinear al inicio del contenedor */
  overflow-x: auto; /* Permitir scroll horizontal */
}

.producto-favorito {
  width: 220px; /* Ancho fijo de cada carta */
  margin-right: 20px; /* Margen derecho para separar las cartas */
}

.contenedor {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ancho máximo de la carta */
  position: relative;
}

.imagen-favorito {
  width: 100%;
  height: auto; /* Para mantener la proporción de la imagen */
  border-radius: 10px;
  margin-bottom: 10px;
}

.puntuacion {
  color: #DC91CC;
  margin-bottom: 10px;
}

.precio {
  color: #EE940D;
  font-weight: bold;
}

.boton-comprar {
  background-color: #4ECFE4;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.linea-separadora {
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
}

.scroll-arrow i {
  margin: 0 10px;
}

.scroll-arrow i:hover {
  color: #555;
}

@media (max-width: 768px) {
  .cartas-favoritos {
      justify-content: center;
  }
}
/* Estilos para el footer */

.footer {
  background-color: #FFEDC1;
  padding: 20px;
  text-align: center;
  color: #DC91CC;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.columna {
  flex: 1;
  margin: 0 10px;
}

.titulo-columna {
  font-weight: bold;
  margin-bottom: 10px;
}

.texto-columna {
  color: #DC91CC;
}

.siguenos {
  flex: 1;
  text-align: right;
}

.texto-siguenos {
  margin-bottom: 10px;
}

.redes-sociales {
  display: flex;
  justify-content: flex-end;
}

.social-icon {
  color: #DC91CC;
  font-size: 24px;
  margin-left: 10px;
}

.social-icon:hover {
  color: #555;
}

@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
  }
}

/* El BANNER DEL GATO MIRON */

/* Estilos para la sección banneresquina */
.banneresquina {
  display: flex;
  background-color: #F9B73C;
  align-items: center;
  justify-content: space-between;

  }


.texto-esquina {
  text-align: left;
}

.boton-medio {
  display: flex;

}

.boton-medio button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.tuki {
  max-height: 150px; /* Reducción del tamaño de las imágenes en el banner */
}


/* SECCION DE ICONOS*/

/* Estilos para las tres columnas */

.tres-iconos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.icono {
  text-align: center;
}

.icono img {
  max-width: 50px; /* Ajusta el tamaño de los iconos */
  height: auto; /* Mantiene la proporción de los iconos */
}



/* Estilos para las CARTAS */
.seccion-categorias {
  background-color: #FFFFFF;
  margin-top: 20px;
  white-space: nowrap; /* Evitar saltos de línea */
}

.seccion-colecciones {
  background-color: #DC91CC;
  margin-top: 20px;
  overflow-x: auto; /* Permitir scroll horizontal */
  white-space: nowrap; /* Evitar saltos de línea */
}

.grid-container {

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 20px;
}

img {
  max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
  height: auto; /* Mantiene la proporción de las imágenes */
}






.cartas {
  display: flex;
  gap: 30px; /* Espacio entre cartas */
}

.contenedor {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 200px;
  position: relative;
}

.producto-imagen {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}

.h4{
  width: 20%;
}


.noticias {
    flex: 1; /* Toma el ancho disponible */
    margin-right: 20px; /* Espacio entre secciones */
}

.ultimos-articulos {
    flex-basis: 30%; /* Ancho fijo para la sección de últimos artículos */
}

